
header {
    margin: 0;
    padding: 0;
    background-color: rgba(235, 223, 200, 1);
}
.header_container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.logo_container {
    display: block;
    margin: 5px 10px;
}

.logo_container a {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: rgba(0,0,0,1);
}

.nav_container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.menu_container {
    align-content: flex-start;
    margin-left: 50px;
}

.menu_container .menu, .login {
    list-style: none;
    display: flex;
}

.menu_title {
    display: block;
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0,0,0,1);
}



.list_container {
    display: flex;
    align-items: center;
    
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.list_container a {
    font-size: 20px;
    font-weight: 450;
    text-decoration: none;
    text-align: center;
    color: rgba(0,0,0,1);
}

table{
    border-top: 1px solid #444444;
    border-collapse: collapse;
}
tr{
    
    padding: 10px;
}
td{
    border-bottom: 1px solid #efefef;
    padding: 10px;
}
table .even{
    background: #efefef;
}
.text{
    text-align:center;
    padding-top:20px;
    color:#000000
}
.text:hover{
    text-decoration: underline;
}
a:link {color : #57A0EE; text-decoration:none;}
a:hover { text-decoration : underline;}